* {
    margin: 0px;
    padding: 0px;
}



.startClass {
    margin-top: 2vh;
    height: 10vh;
    width: 10vw;
}

.roofClass {
    position: absolute;
    bottom: 65%;
}

.displayGame {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
    overflow: hidden;
    cursor: pointer;

    .groundClass {

        position: absolute;
        bottom: -5%;
        animation: nonea;
    }



    @keyframes groundAnim {
        from {
            right: 0%;

        }

        to {

            right: 100%;
        }
    }

    @keyframes groundAnim2 {
        from {
            right: -100%;

        }

        to {

            right: 0%;
        }
    }



}


.map {
    position: relative;
    display: flex;
    width: 60vw;
    height: 50vh;
    background-color: rgb(3, 0, 23);
    border: 1px solid black;

    overflow: hidden;

    .PlayerClass {
        position: absolute;
        height: 30%;
        bottom: 0;
        margin-left: 2vw;
        animation: none;
    }

    @keyframes jump {

        0% {
            bottom: 0;
        }


        50% {
            bottom: 50%;
        }

        100% {
            bottom: 0;
        }

    }

    .itemClass {
        position: absolute;
        bottom: 0;
        height: 8%;
        animation: none;
        display: none;
    }

    @keyframes itemAnim {
        0% {
            right: -10%;
            bottom: 0%;
        }

        20% {
            bottom: 3%;
        }

        30% {
            bottom: 0%;
        }

        40% {
            bottom: 3%;
        }

        50% {
            bottom: 0%;
        }

        60% {
            bottom: 3%;
        }

        70% {
            bottom: 0%;
        }

        80% {
            bottom: 3%;
        }

        90% {
            bottom: 0%;
        }

        100% {
            bottom: 3%;
            right: 110%
        }
    }


    .inimigoClass {
        position: absolute;

        bottom: 0;
        display: none;
        animation: none;

        height: 30%;

    }


    @keyframes inimigosAnim {
        from {
            right: -50%;

        }

        to {

            right: 110%
        }
    }


}