* {
    margin: 0px;
    padding: 0px;
}


.map {
    position: relative;
    display: flex;
    width: 60vw;
    height: 50vh;
    background-color: bisque;
    border: 1px solid black;
    margin-left: 10vw;
    overflow: hidden;

    .PlayerClass {
        position: absolute;
        height: 40%;
        bottom: 0;
        margin-left: 2vw;
        animation: none;
    }

    @keyframes jump {

        0% {
            bottom: 0;
        }


        50% {
            bottom: 50%;
        }

        100% {
            bottom: 0;
        }

    }

    .itemClass {
        position: absolute;
        bottom: 0;
        height: 8%;
        animation: none;
        display: none;
    }

    @keyframes itemAnim {
        0% {
            right: -10%;
            bottom: 0%;
        }

        20% {
            bottom: 3%;
        }

        30% {
            bottom: 0%;
        }

        40% {
            bottom: 3%;
        }

        50% {
            bottom: 0%;
        }

        60% {
            bottom: 3%;
        }

        70% {
            bottom: 0%;
        }

        80% {
            bottom: 3%;
        }

        90% {
            bottom: 0%;
        }

        100% {
            bottom: 3%;
            right: 110%
        }
    }


    .inimigoClass {
        position: absolute;

        bottom: 0;
        display: none;
        animation: none;

        height: 30%;

    }


    @keyframes inimigosAnim {
        from {
            right: -50%;

        }

        to {

            right: 110%
        }
    }


}