* {
  margin: 0px;
  padding: 0px;
}

.subtitulo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitulo > h1 {
  color: white;
  font-size: 50px;
}

.SugestaoClass {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 90vh;
  background-color: rgba(3, 0, 11, 0.941);
  display: none;
  align-items: center;
  flex-direction: column;
}
.SugestaoClass > h1 {
  margin-top: 0vh;
  color: white;
}
.SugestaoClass textarea {
  margin-top: 20vh;
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: rgb(255, 255, 255);
  vertical-align: top;
  padding: 10px;
  font-size: 20px;
}
.SugestaoClass > button {
  display: flex;
  margin-top: 50vh;
  width: 10vw;
  height: 3vh;
  padding-top: 10px;
  padding-left: 90px;
  font-size: 20px;
  font-weight: bold;
}
.SugestaoClass #qtdCharac {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  right: 30vw;
  background-color: cornflowerblue;
  color: black;
  font-size: 50px;
}

.botao {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 0px;
  margin-bottom: 2vh;
  width: 100%;
  right: 50px;
}
.botao .buttonSug {
  width: 5vw;
  height: 2vh;
  height: 5vh;
  background: none;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.botao:hover .buttonSug {
  margin: 0px 10px;
}

.botao:active .buttonSug {
  margin: 0px 5px;
}

a {
  text-decoration: none;
  color: white;
}

.background {
  z-index: -1;
  position: fixed;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 180vh;
}
.background .back {
  width: 100vw;
  height: 100vh;
}

.pagina {
  position: absolute;
  margin-top: 100vh;
  background-color: rgba(0, 0, 0, 0.9333333333);
}

.graficoClass {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10vh;
}

.ChartClass {
  width: 40%;
}

.logo {
  position: absolute;
  width: 40%;
  top: 30vh;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 10vh;
}
.nav > ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  color: white;
  font-size: 3vh;
  animation: transicaoDesc;
  width: 200px;
  cursor: pointer;
}

.divisoria {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 7vh;
  width: 100%;
  height: 2vh;
}
.divisoria > img {
  width: 90vw;
}

.pg {
  display: flex;
  justify-content: space-around;
}
.pg > img {
  height: 90%;
  margin: 2vw;
}

.info {
  display: flex;
  justify-content: space-around;
  color: white;
  flex-direction: column;
}
.info > p {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 30px;
}
.info > p > b {
  cursor: pointer;
}

@keyframes transicaoDesc {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0);
  }
}
li:active .imgli {
  transform: translateY(5px);
}

li:active .imgli {
  transform: translateY(5px);
}

li:hover .imgli {
  width: 170px;
}

.ballon {
  position: absolute;
  animation: ballon;
  height: 200vh;
}

.subtitulo {
  margin-top: 10vh;
}
.subtitulo > h1 {
  font-size: 6vh;
}/*# sourceMappingURL=home.css.map */